<main id="announcements-main">
  <form action="#" method="POST" id="searchbar-form">
    <div>
      <input type="text" placeholder="Busca un anuncio...">
      <button type="submit"><i class="fas fa-search"></i></button>
    </div>
    <div>
      <a href="/addAnnouncement" id="add-button"><i class="fas fa-plus-circle"></i></a>
    </div>

  </form>
  <section id="announcements-list">
    {{#each list}}
    <div class="announce-card">
      <img src="{{this.photos}}" alt="Imagen del anuncio">
      <div class="announce-title">
        <h4><a href="/announcement/{{this._id}}">{{this.title}}</a></h4>
      </div>
    </div>
    {{/each}}
  </section>
</main>