<main>
  <article>
    <img src="{{this.photos}}" alt="">
    <div>
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
    </div>
    {{#if announcer}}
    <p>anunciante</p>
    {{else}}
    <p>visitante</p>
    {{/if}}
  </article>
</main>