<main>
  <section id="index-section-1">
    <article id="index-intro-article">
      <h1>INTRO</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus corporis quibusdam nulla inventore.
        <br>
        Omnis ut dolores odit fugiat, hic earum porro nesciunt numquam eveniet voluptates? Facere porro eius nemo
        corrupti!</p>
    </article>
  </section>
  <section id="index-section-2">
    <article id="index-data-article">
      <div>
        <p>4381</p>
        <p>Trabajos realizados</p>
      </div>
      <div>
        <p>5000</p>
        <p>Usuarios registrados</p>
      </div>
      <div>
        <p>23000</p>
        <p>Anuncios activos</p>
      </div>
      <div>
        <p>‎€ 315 142</p>
        <p>Generados</p>
      </div>
    </article>
  </section>
  <section id="index-section-3">
    <article id="index-signup-article">
      <h4>Unete a la comunidad WorkWithUs</h4>
      <form action="">
        <input type="email" placeholder="Escribe tu email">
        <button class="btn blue-btn">Crear cuenta</button>
      </form>
    </article>
  </section>
  <section id="index-section-4">
    <article>
      <h2>Features</h2> <!-- POSIBLE BLOG???-->
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus laboriosam fuga velit non aspernatur
        consectetur dignissimos numquam vel eligendi!</p>
    </article>
  </section>
</main>