<main>
  <section>
    <h1>INTRO</h1>
  </section>
  <section>
    <H2>DATOS</H2>
  </section>
  <section>
    <form action="">
      <input type="text">
      <button></button>
    </form>
  </section>
  <section>
    <h2>features</h2>
  </section>
</main>