<main>
  <section id="index-section-1">
    <article id="index-intro-article">
      <h1>WORK WITH US</h1>
      <p>Necesitas contactar con un profesional y no tienes el contacto o el tiempo para hacer una búsqueda por internet?
      <br>
      En Work With Us podrás solicitar presupuesto para cualquier trabajo que necesites!</p>
    </article>
  </section>
  <section id="index-section-2">
    <article id="index-data-article">
      <div>
        <p>4.381</p>
        <p>Trabajos realizados</p>
      </div>
      <div>
        <p>5.000</p>
        <p>Usuarios registrados</p>
      </div>
      <div>
        <p>23.000</p>
        <p>Anuncios activos</p>
      </div>
      <div>
        <p>‎€ 315.142</p>
        <p>Generados</p>
      </div>
    </article>
  </section>
  <section id="index-section-3">
    <article id="index-signup-article">
      <h4>Unete a la comunidad WorkWithUs</h4>
      <form method="POST">
        <input type="email" placeholder="Escribe tu email" name="email">
        <button class="btn blue-btn" type="submit">Crear cuenta</button>
      </form>
    </article>
  </section>
  <section id="index-section-4">
    <article>
      <h2>Features</h2> <!-- POSIBLE BLOG???-->
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus laboriosam fuga velit non aspernatur
        consectetur dignissimos numquam vel eligendi!</p>
    </article>
  </section>
</main>