<main>
  <h2>Añade un nuevo anuncio</h2>

  <form action="/addAnnouncement" method="POST">
    <label for="title">Título del anuncio:</label>
    <input type="text" name="title" placeholder="Añade un título">
    <label for="description">Descripción del anuncio:</label>
    <input type="textarea" name="description">
    <label for="photos">Fotos:</label>
    <input type="text" name="photos" placeholder="Añade la dirección de tu foto">
    <button type="submit">Crear anuncio</button>
  </form>
</main>