//COLOR PALETTE
$red-btn: #e74c3c;
$red-btn-active: #c0392b;
$green-btn: #2ecc71;
$green-btn-active: #27ae60;
$blue-btn: #3498db;
$blue-btn-active: #2980b9;
$btn-text: #ecf0f1;
$general-text: #2c3e50;

//MARGIN RESET
html {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
// MARGIN RESET END

// TEXT COLOR
body {
  color: $general-text;
}
body a {
  color: $general-text;
}
// TEXT COLOR END

// NAVBAR
nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 3.5rem;
  font-weight: 600;
  background-color: $btn-text;
}
nav > * {
  width: 50%;
  margin: 0 1em;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
}
//Selecciona los dos primeros hijos
ul li:nth-child(-n + 2) {
  padding-right: 1em;
}
nav button {
  border: none;
  background-color: transparent;
}
i {
  color: #1abc9c;
}
.separator {
  color: rgba($color: $general-text, $alpha: 0.3);
}
//NAVBAR END

//SIDENAV
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181; //TEMPORAL
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  //margin-left: 50px;
}
//SIDENAV END

//BUTTONS
.btn {
  border: none;
  color: $btn-text;
  border-radius: 5px;
  padding: 1em 2em;
}
.red-btn {
  background-color: $red-btn;
  box-shadow: 0 5px $red-btn-active;
  outline: none;
  font-weight: 600;
}
.red-btn:active {
  box-shadow: 0 1px $red-btn-active;
  transform: translateY(4px);
}
.green-btn {
  background-color: $green-btn;
  box-shadow: 0 5px $green-btn-active;
  outline: none;
  font-weight: 600;
}
.green-btn:active {
  box-shadow: 0 1px $green-btn-active;
  transform: translateY(4px);
}
.blue-btn {
  background-color: $blue-btn;
  box-shadow: 0 5px $blue-btn-active;
  outline: none;
  font-weight: 600;
}
.blue-btn:active {
  box-shadow: 0 1px $blue-btn-active;
  transform: translateY(4px);
}
//BUTTONS END

//ERRORS
.error {
  color: red;
  text-transform: uppercase;
}
//ERRORS END

//VIEWS
section {
  padding: 1.5em 2em;
}
//INDEX
//SECTION 1 (INTRO)
#index-section-1 {
  background-color: rgba($color: $blue-btn, $alpha: 0.2);
}
#index-intro-article h1 {
  font-size: 4rem;
}
#index-intro-article p {
  padding: 1em 0;
}
//SECTION 2 (DATA)
#index-data-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#index-data-article div {
  text-align: center;
  padding: 1em 0;
}
#index-data-article p {
  font-weight: 600;
  color: #1abc9c;
}
#index-data-article p:first-of-type {
  font-size: 3em;
}
//SECTION 3 (SIGNUP)
#index-section-3 {
  background-color: rgba($color: $blue-btn, $alpha: 0.2);
}
#index-signup-article form {
  display: flex;
  flex-direction: column;
}
#index-signup-article input {
  margin: 2em 0;
  padding: 1em 0;
  border-radius: 25px;
  border: none;
  text-align: center;
  outline: none;
  font-weight: 600;
  font-size: 1rem;
}
#index-signup-article form button {
}
// INDEX END

//FOOTER
footer {
  background-color: $general-text;
  color: $btn-text;
  padding: 1em 2em;
}
footer a {
  color: $btn-text;
  text-decoration: none;
  border-bottom: 1px dashed;
}
footer p {
  font-weight: 600;
  padding: 1em 0;
}
footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
footer li {
  padding: 0.8em 0;
}
//FOOTER END
